.logo-servicio{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 11vw;   
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
   
.top-logo{
    margin-top: 10px;
    height: 10px;
}
   
ion-card {
    border: 3px solid black;
    display: flex;
    border-radius: 10px;
    
}
