.logo-servicio{
 height: 80px;   
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.top-logo{
    height: 10px;
}

ion-card {
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    
 }

.search-bar {
  margin-bottom: 30px;
}

// use size of viewport
.service-name{
    font-size: 4vw;
}