<ion-content>



  <ion-grid>
    <ion-row class="ion-justify-content-end top-logo">
      <ion-col size ="3" >
        <img class="logo-app" src="/assets/icon/favicon.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-back-button defaultHref="/login"></ion-back-button> 
    </ion-row>
    <ion-row class="titulo">
      ¿Qué buscas?
    </ion-row>
  </ion-grid>



<div class="search-bar">
  <ion-searchbar color="tertiary"  animated="true" placeholder="Animated"></ion-searchbar>
</div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of servicios"  class="icono-columna" >
        <ion-card color="tertiary">
          <div class="ion-justify-content-center"> 
            <div class="card-image">
              <img class="logo-servicio" src="{{item.icon}}" />

            </div>
            <ion-card-header>
              <ion-card-title class="service-name">{{item.name}}</ion-card-title>
            </ion-card-header>
          </div>
            <!-- <img alt="Silhouette of mousntains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
